<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <title>Start</title>
</head>
<div class="contrainer-fluid" layout:fragment="content">
    <div class="row">
        <div class="col-md-2">
            <img  class="img-responsive" style="margin: 0 auto" th:src="@{~/images/worthHowLogo.png}" alt="Logo"/>
        </div>
        <div class="col-md-10">
            <div class="jumbotron">
                    <h1 class="text-center">worthHow</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Introduction</h3>
            <p>Web application allows to valuate stock price
                of european options using the Black-Scholes model.</p>
        </div>
        <div class="col-md-6">
            <h3>About Quandl</h3>
            <p><a href="https://www.quandl.com/" target="_blank">Quandl</a> is an company delivering financial, economic and alternative data contained knowledge about markets and market movements.</p>
        </div>
    </div>
</div>
</html>