<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <title>Druga</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<div class="row" layout:fragment="content">
    <div class="col-md-5">
        <form class="form-horizontal" th:action="@{/blackscholes/calculate}" method="get">
            <p class="col-md-offset-1">Option Price:</p>
            <div class="form-group">
                <label for="strikePrice" class="col-md-4 control-label">Strike
                    Price</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="strikePrice"
                           placeholder="Strike Price" th:value="*{strikePrice}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="strikePrice" class="col-md-4 control-label">Strike
                    Price</label>
                <div class="col-md-8">
                <input type="text" class="form-control" id="periodTime"
                placeholder="Period Time" th:value="*{periodTime}"/>
                <!--placeholder="Execute Price" th:field="*{executePrice}"/>-->
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-11 col-md-offset-1">
                    <button type="submit" class="col-lg-12 btn btn-primary">Calculate</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3 col-md-offset-1">
        <p>Call Price: <span th:text="${priceCall}"/> $</p>
    </div>
    <div class="col-md-3">
        <p>Put Price: <span th:text="${pricePut}"/> $</p>
    </div>
</div>
</html>