<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <title>Period Data</title>
</head>
<body>
<div class="row" layout:fragment="content">
    <div class="col-md-5">
            <p class="col-lg-offset-1">Select Company:</p>
            <div class="List-group">
                <a href="#" class="list-group-item container-fluid" th:each="company : ${companies}" th:href="${'/price/load/' + company.id}">
                    <span class="col-md-4" th:text="${company.databaseCode}"/>
                    <span class="col-md-4" th:text="${company.companyName}"/>
                    <span class="col-md-4" th:text="${company.companyCode}"/>
                </a>
            </div>
    </div>
    <div class="col-md-7">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Date (dd-mm-yyyy)</th>
                <th>Close Price</th>
            </tr>
            </thead>
            <tbody style="height: 120px; overflow-y: auto;">
            <tr th:each="dataset : ${datasets}">
                <!-- <td th:text="${dataset.id}"></td>  -->
                <td th:text="${dataset.stockDate}"></td>
                <td th:text="${dataset.closePrice}"></td>
            </tr>
            </tbody>
        </table>
        <p>Next should display close price (StockData model for Company)</p>
    </div>
</div>
</body>
</html>